  <% metaInfo = typeof metaInfo !== 'object' ? {} : metaInfo %>
  <% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'home') { %>
     <!-- HOME -->
    <title>ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
    <meta name="keywords" content="ZOOCIAL, Shop, Onlineshop, Tierfutter, Tierzubehör, Nachhaltig, Stop Foodwaste" />
    <meta name="description" content="Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
    <meta property="og:title" content="ZOOCIAL SHOP - Für Hunde & Katzen - Tierfutter und Zubehör">
    <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="200" />
    <meta property="og:url" content="https://zoocialshop.ch/"/>
    <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
    <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="de_CH" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) == 0) { %>
  <!-- NO PAGE -->
  <title>Seite nicht gefunden - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="ZOOCIAL, Shop, Onlineshop, Tierfutter, Tierzubehör, Nachhaltig, Stop Foodwaste" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:title" content="ZOOCIAL SHOP - Für Hunde & Katzen - Tierfutter und Zubehör">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'warenkorb') { %>
  <!-- WarenKORB -->
  <title>Warenkorb - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="Tierfutter, Tierzubehör, ZOOCIAL Shop" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
    <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:title" content="Warenkorb - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
    <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'remi') { %>
  <!-- REMI -->
  <title>Remi Produkte - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="REMI Produkte, Nachhaltigkeit, Stop Foodwaste" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Remi Produkte - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'versandkosten') { %>
  <!-- REMI -->
  <title>Versandkosten - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="Tierbeadrf, Kostenlose Versand, Schweiz, Liechtenstein" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Versandkosten - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'lieferung') { %>
  <!-- REMI -->
  <title>Lieferung - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="Tierbeadrf, Kostenlose Versand, Schweiz, Liechtenstein" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Versandkosten - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'zahlungsarten') { %>
  <!-- Zahlungsarten -->
  <title>Zahlungsarten - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="Online einkaufen_" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Zahlungsarten - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'faq') { %>
  <!-- faq -->
  <title>FAQ - Häufig gestellte Fragen - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="FAQ - Häufig gestellte Fragen - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'ueberuns') { %>
  <!-- faq -->
  <title>Über uns - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Über uns - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'kontakt') { %>
  <!-- kontakt -->
  <title>Kontakt - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Kontakt - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'datenschutz') { %>
  <!-- datenschutz -->
  <title>Datenschutzerklärung - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Datenschutzerklärung - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'impressum') { %>
  <!-- impressum -->
  <title>Impressum - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Impressum - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'agb') { %>
  <!-- agb -->
  <title>Allgemeine Geschäftsbedingungen von ZOOCIAL und ZOOCIAL Shop - 4beeees GmbH - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Allgemeine Geschäftsbedingungen von ZOOCIAL und ZOOCIAL Shop - 4beeees GmbH - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'category') { %>
  <!-- agb -->
  <title><%= metaInfo.category %> ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Hundefutter Katzenfutter	ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'singleproduct') { %>
  <!-- singleproduct -->
  <title><%= metaInfo.title %></title>
  <meta name="keywords" content="<%= metaInfo.keywords %>" />
  <meta name="description" content="<%= metaInfo.description != '' ? metaInfo.description : 'Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!' %>">
  <meta property="og:title" content="<%= metaInfo.title %>">
  <meta property="og:image" content="<%= metaInfo.productimage %>" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="<%= metaInfo.description != '' ? metaInfo.description : 'Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!' %>">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'wishlist') { %>
  <!-- wishlist -->
  <title>Wunschliste - Produktbezeichung - Kategorie - nachhaltig online bestellen bei ZOOCIALShop.ch</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Warenkorb - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'register') { %>
  <!-- register -->
  <title>Benutzerkonto erstellen - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Benutzerkonto erstellen - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'login') { %>
  <!-- login -->
  <title>Kundenlogin - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Kundenlogin - ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'stopfootwaste') { %>
  <!-- stopfootwaste -->
  <title>Remi Produkte - ZOOCIAL Shop - Wir verkaufen Tierfutter mit kurzen Ablaufdatum</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Remi Produkte - ZOOCIAL Shop - Wir verkaufen Tierfutter mit kurzen Ablaufdatum">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>
<% if(parseInt(Object.keys(metaInfo).length) > 0 && metaInfo.page == 'dsgvo') { %>
  <!-- stopfootwaste -->
  <title>Datenschutzerklärung - ZOOCIAL Shop - die Schweizer Plattform für Nachhaltigkeit in der Tierwelt</title>
  <meta name="keywords" content="" />
  <meta name="description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:title" content="Remi Produkte - ZOOCIAL Shop - Wir verkaufen Tierfutter mit kurzen Ablaufdatum">
  <meta property="og:image" content="https://zoocialshop.ch/images/share-logo.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://zoocialshop.ch/"/>
  <meta property="og:description" content="Unser nachhaltiger Onlineshop bietet dir alles, was das Tierherz begehrt: jage Schnäppchen und Trends und finde das passende Zubehör für deinen Vierbeiner und dich. Wir schreiben «Stop Foodwaste» gross: Deswegen findest du bei uns auch Futter mit kürzerem Verfallsdatum. So profitierst du von preiswerten Angeboten und leistest mit uns zusammen einen Beitrag, um Foodwaste zu stoppen! Mehr Informationen zum Thema findest du unter «Remi Produkte» oder kontaktiert uns!">
  <meta property="og:site_name" content="ZOOCIAL Shop - Tierfutter und Tierzubehör für Hunde und Katzen"/>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="de_CH" />
  <meta property="og:locale:alternate" content="fr_FR" />
  <meta property="og:locale:alternate" content="en_EN" />
<% } %>